<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  <br><br>
  <ion-label position="floating">Enter the Note</ion-label>
    <ion-input  type="text" [(ngModel)]="note" placeholer (keyup.enter)="onenter()"></ion-input>
    Notes Your Entered Are 
   <p *ngFor="let no of notes">
     {{no}}<ion-button (click)="ondelete(no)">Delete</ion-button>
     </p>
  </div>
</ion-content>
